SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=3307
DB_NAME=for_pets
DB_USERNAME=root
DB_PASSWORD=12345678
DB_ROOT_PASSWORD=12345678

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

JWT_SECRET_KEY=Zm9yLXBldHMtbG9jYWwtand0LXNlY3JldC1rZXktMjAyNi1kZXYtb25seQ==
JWT_ACCESS_TOKEN_VALIDITY_TIME=3600000
JWT_REFRESH_TOKEN_VALIDITY_TIME=604800000